.login-popup {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: #00000045;
    display: grid;
    scroll-behavior: inherit;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 540px);
    height: auto;
    color: #ffffff;
    display: grid;
    background-color: rgba(67, 152, 178, 0.273);
    backdrop-filter: blur(10px);
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: none;
    height: 45px;
    font-size: 18px;
    background: rgba(184, 184, 184, 0.25);
    border-bottom: 1px solid #3e3e3e;
    padding: 10px;
    /* border-radius: 4px; */
}

.login-popup-container button{
    outline: none;
    border: none;
    padding: 15px;
    background: rgb(0, 166, 255);
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: rgb(0, 166, 255);
    font-weight: 500;
    cursor: pointer;
}